<div class="col-md-12">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h2><font color="white">Administrator Login</font></h2>
    <br>
    <div class="well">
      <form ng-submit="login(username, password)">
      <input type="email" class="form-control" placeholder="Enter email" ng-model="username">
      <br>
      <input type="password" class="form-control" placeholder="Password" ng-model="password">
      <br>
      <button class="btn btn-success btn-block" type="submit"> Entrar </button>
      <!--<a class="btn btn-block" href="/#/signUp"> Registrarse </a>-->
    </form>
    </div>
  </div>
</div>

